<div class="nav-bar">
<ul>
  <li> <%= link_to "My list", root_path %> </li>
  <li> <%= link_to "New list", new_list_path %> </li>
</ul>
</div>



<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("nw7h2hrkmpkuelkvavip") %>)">  <div class="container">
    <h1 class="text-center">Create Your Own Movie Lists!</h1>
  </div>
</div>
<div class="btn-container d-flex justify-content-end mt-3">
  <button class="btn btn-success mr-5 rounded"><%= link_to "+Create a new movie list", new_list_path, style: "text-decoration:none;" %> </button>
</div>

<div class="container">
<h3 class="my-4 text-center">My Lists</h3>
<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
      <%= link_to list_path(list), method: :delete, data: { confirm: 'Are you sure?' }, class: "position-absolute top-0 end-0" do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
      <div class="card-category-infos w-400px h-200px d-flex justify-content-center align-items-center">
        <h2 class="text-white text-center"><%= link_to list.name, list_path(list), style: "text-decoration:none;"  %></h2>
      </div>
    </div>
  <% end %>
</div>
</div>
