<h1>Crea New List</h1>
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Submit new list", class: "btn btn-primary" %>
<% end %>
<%= link_to "< Back to home", lists_index_path %>
