<h1>Add Bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
  <%= f.collection_select(:movie_id, Movie.all, :id, :title) %>
  <%= f.submit %>
<% end %>

<%= link_to "<Back to list",  list_path(@list) %>
